services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      # Hot-Reload:
      - .:/app
      # volume "anónimo" para node_modules, para não misturar com o local:
      - /app/node_modules
    ports:
      - '3000:3000'
    depends_on:
      - db # Docker espera o DB iniciar antes de iniciar a API
    environment:
      DATABASE_URL: postgresql://crm_admin:crm_password@db:5432/crm_db

  db:
    container_name: postgres_crm
    image: postgres:17
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: crm_admin
      POSTGRES_PASSWORD: crm_password
      POSTGRES_DB: crm_db
      PGDATA: /data/postgres
    volumes:
      # Este volume garante que os seus dados do DB
      # permaneçam salvos mesmo se o container for destruído
      - ./data/pg:/data/postgres

# O volume "real" que vai ser criado no seu disco
volumes:
  postgres_data:
