version: '3.8'

services:
  api:
    build:
      context: . # Procura o Dockerfile
      dockerfile: Dockerfile
      target: development
    command: pnpm run start:dev
    volumes:
      # Hot-Reload:
      - ./src:/usr/src/app/src
      # volume "anónimo" para node_modules, para não misturar com o local:
      - /usr/src/app/node_modules
    ports:
      - "3000:3000"
    depends_on:
      - db # Docker espera o DB iniciar antes de iniciar a API
    environment:
      DATABASE_URL: postgresql://user:password@db:5432/mydb

  db:
    image: bitnami/postgresql:17
      - "5432:5432"
    environment:
      POSTGRESQL_USERNAME: user
      POSTGRESQL_PASSWORD: password
      POSTGRESQL_DATABASE: mydb
    volumes:
      # Este volume garante que os seus dados do DB
      # permaneçam salvos mesmo se o container for destruído
      - postgres_data:/bitnami/postgresql/data

# O volume "real" que vai ser criado no seu disco
volumes:
  postgres_data: